<tr th:fragment="pagination-fragment(v)">
    <td colspan="3">
        <div class="pagination">
            <button th:if="${v.currentPage > 0}"
                    th:attr="hx-get=@{/vouchers(page=${v.currentPage - 1})}"
                    hx-include="form"
                    hx-target="#voucher-list">
                ← Back
            </button>

            <span   th:if="${i >= v.currentPage - 1 and i <= v.currentPage + 5}"
                    th:each="i : ${#numbers.sequence(1, v.totalPages)}">
                <a th:if="${v.currentPage != i - 1}"
                   style="cursor: pointer; margin: 0 5px; text-decoration: underline;"
                   th:attr="hx-get=@{/vouchers(page=${i - 1})}"
                   th:text="${i}"
                   hx-include="form"
                   hx-target="#voucher-list"></a>

                <span th:if="${v.currentPage == i - 1}"
                      th:text="${i}"
                      style="font-weight: bold; margin: 0 5px;">
                </span>
            </span>

            <button th:if="${v.currentPage + 1 < v.totalPages}"
                    th:attr="hx-get=@{/vouchers(page=${v.currentPage + 1})}"
                    hx-include="form"
                    hx-target="#voucher-list">
                Next →
            </button>
        </div>
    </td>
</tr>