<div th:fragment="user-info-fragment" id="profile-container">
    <h4>My profile</h4>
    <div class="card p-3" id="profile-details">
        <p><strong>ID:</strong> <span th:text="${user.id}">1</span></p>
        <p><strong>Username:</strong> <span th:text="${user.username}">admin</span></p>
        <p><strong>First Name:</strong> <span th:text="${user.firstName ?: 'Не указан'}">1</span></p>
        <p><strong>Last Name:</strong> <span th:text="${user.lastName ?: 'Не указан'}">admin</span></p>
        <p><strong>Phone Number:</strong> <span th:text="${user.phoneNumber ?: 'Не указан'}"></span></p>
        <p><strong>Email:</strong> <span th:text="${user.email ?: 'Не указан'}"></span></p>

        <button class="btn btn-sm btn-outline-primary"
                th:attr="hx-get=@{/user/profile/{id}/edit(id=${user.id})}"
                hx-target="#profile-details">
            Edit Profile
        </button>
    </div>
</div>

<form th:fragment="profile-edit-fragment"
      th:attr="hx-post=@{/user/profile/{id}/update(id=${user.id})}"
      hx-target="#profile-details"
      th:object="${user}">

    <input type="hidden" name="id" th:value="${user.id}">
    <input type="hidden" name="username" th:value="${user.username}">

    <div class="form-group">
        <label>First Name</label>
        <input type="text" th:field="*{firstName}" class="form-control"
               th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" th:field="*{lastName}" class="form-control"
               th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" th:field="*{email}" class="form-control"
               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input type="text" th:field="*{phoneNumber}" class="form-control"
               th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid'">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
    </div>

    <button type="submit" class="btn btn-success btn-sm">Update</button>
    <button type="button" class="btn btn-secondary btn-sm"
            th:attr="hx-get=@{/user/profile/{id}(id=${user.id})}"
            hx-target="#profile-container"
            hx-select="#profile-details">
        Cancel
    </button>
</form>

<div th:fragment="profile-balance-fragment" id="profile-balance-wrapper">
    <div class="card p-3" id="profile-balance-details">
        <p><strong>Current Balance:</strong> <span th:text="${user.balance}">0.00</span></p>
    </div>

    <div id="top-up-container">
        <form th:attr="hx-post=@{/user/profile/{id}/balance/top-up(id=${user.id})}"
              hx-target="#profile-balance-wrapper"
              th:object="${topup}">

            <input type="hidden" name="id" th:value="${user.id}">

            <div class="form-group">
                <label th:for="amount">Top up amount</label>
                <input type="number"
                       id="amount"
                       th:field="*{amount}"
                       class="form-control"
                       placeholder="Enter amount"
                       th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
            </div>
            <button type="submit" class="btn btn-primary">Top up</button>
        </form>
    </div>
</div>

